#economy1stPage {
    height: 220vh;
    background: white;
}

.topic > div > h2 {
    font-weight: bold;
    padding-left: 18px;
    padding-top: 18px;
}

.cars-Section {
    padding-top: 32px;
    display: flex;
    width: 98vw;
    justify-content: space-evenly;
}

.hotel-section {
    padding-top: 40px;
    display: flex;
    width: 98vw;
    justify-content: space-evenly;

}

.journey-topic{
    font-weight: bold;
    font-family: sans-serif;
    /* font-size: 29px; */
    padding-left: 42px;
    padding-top: 32px;
    color: #14146a;

}

.input-field{
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 39px;
}
.all-vehicle-image{
    width: 288px;
    height: 183px;
}



