#Home-Page-1stPage {
    width: 100vw;
    height: 101vh;
}

.bg-Image {
    width: 100vw;
    height: 100%;
    background-image: url("/assets/home/next.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-Image > .home-description {
    width: 60%;
    /*border: 2px solid red;*/
    height: 70%;
    font-size: 3.0rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family:system-ui;
    flex-direction: column;
    color: white;
}

.up-description{
    margin-bottom: 8px;
    letter-spacing: 4px;
    font-weight: lighter;
    font-family: system-ui;
    color: beige;
}

.main-topic{
    letter-spacing: 16px;
    margin: 0px;
    font-weight: 400;
    opacity: 0.8;
}




