#package-Category {
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /*background-color: #F5F7FA;*/
    margin-top: 56px;
}

#package-Category > div {

    bottom: 52px;
    position: relative;
    display: flex;
    width: 80%;
    height: 15%;
    margin-top: 20px;
    justify-content: center;
    align-items: start;
}

#package-Category > div > p {
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
}
.packages-type{
    position: relative;
  /*  border: 1px solid black;*/
    display: grid;
    width: 59%;
    height: 75%;
    grid-template-rows: repeat(auto-fit, minmax(209px, auto));
    grid-gap: 20px 31px;
    bottom: 55px;
}
.packages-type> article{

    background-color: #E9F0F5;
    box-shadow: 1px 1px 7px #ccc;
}
