#package-Category {
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /*background-color: #F5F7FA;*/
    margin-top: 56px;
}

#package-Category > div {

    bottom: 52px;
    position: relative;
    display: flex;
    width: 80%;
    height: 15%;
    margin-top: 20px;
    justify-content: center;
    align-items: start;

}


#package-Category > div > p {
    font-family: monospace;
    font-size: 2.5rem;
    font-weight: bold;
}

.packages-type {
    position: relative;
    /*  border: 1px solid black;*/
    display: grid;
    width: 60%;
    height: 75%;
    grid-template-rows: repeat(auto-fit, minmax(209px, auto));
    grid-gap: 20px 31px;
    bottom: 121px;
    border-radius: 6px;
}

.hotelImages {
    /*width: max-content;*/
    width: content-box;
    height: content-box;
}

.packages-type > article {
    background-color: #E9F0F5;
    box-shadow: 1px 1px 7px #ccc;
    border-radius: 6px;
}

.economy-Package {
    display: flex;
}


.e-left-pack- {
    border-radius: 6px;
    width: 130%;

    height: 100%;

    background-image: url("../img/economy2.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.m-left-pack- {
    border-radius: 6px;
    width: 130%;
    height: 100%;

    background-image: url("../img/midrange.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.l-left-pack- {
    border-radius: 6px;
    width: 130%;
    height: 100%;
    background-image: url("../img/luxury.PNG");
    background-repeat: no-repeat;
    background-size: cover;

}

.s-left-pack- {
    width: 130%;
    height: 100%;
    border-radius: 6px;
    background-image: url("../img/superLuxury.PNG");
    background-repeat: no-repeat;
    background-size: cover;

}

.right-pack {
    padding-left: 25px;
}

/*  add this*/

.e-categoryId {
    font-family: fantasy;
    padding-top: 23px;
}

.e-categoryName {
    font-family: Roboto, sans-serif;
    color: #9b0b0b;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.description-package {
    font-family: sans-serif;
    font-size: 0.8rem;
    text-align: justify;
    z-index: 1;
}

.economyButton {
    width: 122px;
    background-color: darkred;
    height: 36px;
    border-radius: 5px;
    font-size: x-small;
    color: white;
    font-weight: 700;
}


/*Mid Level*/
.midRange-Package{
    display: flex;
}

.m-categoryId {
    font-family: fantasy;
    padding-top: 23px;
}

.m-categoryName {
    font-family: Roboto, sans-serif;
    color: #9b0b0b;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;

}
.midRangeButton{
    width: 122px;
    background-color: darkred;
    height: 36px;
    border-radius: 5px;
    font-size: x-small;
    color: white;
    font-weight: 700;
}

/*Luxury*/
.luxury-Package{
    display: flex;
}


.l-categoryId{
    font-family: fantasy;
    padding-top: 23px;

}
.l-categoryName{
    font-family: Roboto, sans-serif;
    color: #9b0b0b;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;


}
.luxuryButton{
    width: 122px;
    background-color: darkred;
    height: 36px;
    border-radius: 5px;
    font-size: x-small;
    color: white;
    font-weight: 700;
}

/*Super Luxury*/
.superLuxury-Package{
    display: flex;
}
.s-categoryId{
    font-family: fantasy;
    padding-top: 23px;
}
.s-categoryName{
    font-family: Roboto, sans-serif;
    color: #9b0b0b;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}
.superluxuryButton{
    width: 122px;
    background-color: darkred;
    height: 36px;
    border-radius: 5px;
    font-size: x-small;
    color: white;
    font-weight: 700;

}






